* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        max-width: 100%;
        padding: 10px;
    }
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        max-width: 100%;
        padding: 20px;
    }
}

/* Estilos para PC */
@media (min-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    padding: 20px;
}

/* Ejemplo de definición de clases para columnas */
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

/* Estilos adicionales según tu diseño */
header{
    width: 100%;
    position:fixed;
    z-index: 100;
    top:0;

}

#logo img{
    height: 165px;
    width: 80px;
    display: flex;
    justify-content:flex-start;
    padding-bottom: 100px;
    
}
nav {
    display: block;
    height: 60px;
    background-color: rgb(109,116,86,0.8);
    padding: 5px 0px 0px 10px;
    background-size: 100%;
    text-align: center;
   
}

nav a{
    text-decoration: none;
    color: #efefef;
    font-size: 17px;
    padding:20px;
    
    }
nav a:hover{
    color:black;
}


/*contenedor 2:home*/
@font-face{
    font-family: BrittanySignature;
    src: url(../img/BrittanySignature.ttf);
} 
#home{
    height:500px;
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}
#contenedor2{
    margin-bottom: 100px;
    margin-top: auto;
    width: 100%;
    }
#carouselExampleCaptions {
        height: 100%;
        width: 100%;
      }
#carouselExampleCaptions .carousel-inner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#contenedor2 h5{
    font-family: BrittanySignature;
    font-size: 50px;
    color:rgb(0, 0, 0);
  
}

#home h1, h2{
    color: rgb(5, 5, 5);
    text-align: center;
    padding-right: 5%;
   
}
#home p{
    color:black;
}
#home img{
    position: relative;
    height: 350px;
    width: auto;
    opacity: 0.8;
    padding: 0 0 0 26%;
}
.section{
    margin: 60px,40px,20px,40px
}
/*sobre nosotros*/

#titulo1 {
    position:relative;
    text-align: end;
    

}
.background1{
    position:absolute;
    width: 70%;
    height: 400px;
    background-color: burlywood;
    border-radius: 0px 50px 0px 50px;
    margin-top: 60px;
    
}
.luigui img{
    height: 500px;
    width: 400px;
    padding-left: 80px;
    position: absolute;
    margin-left: 20px;
}
.texto1{
    background-color: rgb(148, 125, 108) ;
     width:400px ;
     height: 200px; 
     padding:20px 20px 20px 20px;
     position: relative;
     display: flex;
     margin-left: 600px;
     margin-top: 160px;
}
.texto1 p{
    text-align:justify;
}
#titulo2{
    position: relative;
    text-align: start;
    margin-top: 250px;
}
.background2{
    position:absolute;
    width: 70%;
    height: 400px;
    background-color: burlywood;
    border-radius: 0px 50px 0px 50px;
    margin-top: 60px;
    margin-left: 100px;
    
}
.fabrica img{
    height: 500px;
    width: 500px;
    padding-left: 60px;
    position: absolute;
    margin-left: 500px;
    margin-top: 30px;
    
}
.texto2{
    background-color: rgb(148, 125, 108);
     width:400px ;
     height: 300px; 
     padding:20px 20px 20px 20px;
     position: relative;
     display: flex;
     margin-right: 600px;
     margin-top: 130px;
    
}
.texto2 p{
    text-align:justify;
}
#titulo3{
    position:relative;
    text-align: end;  
    margin-top: 200px;
    margin-bottom: 60px;
}
.actualidad img{
    position: relative;
    height: 220px;
    width: 220px;
   padding: 10px;
}
.background3{
    position:absolute;
    width: 70%;
    height: 350px;
    background-color: burlywood;
    border-radius: 30px 30px 30px 30px;
    margin-top: 70px;
    margin-left: 100px;
     
}
.texto3{
    background-color: rgb(148, 125, 108);
    width: 100%;
    height: 100px; 
    padding:20px 20px 20px 20px;
    position: relative;
    display: flex;
    margin-right: 600px;
    margin-top: 80px;   
}

/*sucursales*/
.mapas{
    padding: 100px 0 100px 0;
    display: flex;
    justify-content:space-between;
}
#sucursales h3{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}
.sucursal1{
    margin-bottom: 35px;
    margin-left: 50px;

}
.sucursal2{
    margin-bottom: 35px;
    margin-left: 100px;
}


/*whatsapp*/
.wsapp a {
    position: fixed;
    bottom: 20px;
    right:20px;
    color: rgb(37, 211, 102);
    transition: transform 0.2s ease-in-out;/*para hacer un cambio de tamano suave*/
    }
@media screen and (max-width: 800px) {
        .wsapp {
          font-size: 1.5rem;
          transform: scale(0.8);
        }
      }
      
@media screen and (max-width: 480px) {
        .wsapp {
          font-size: 1.2rem;
          transform: scale(0.6);
        }
      }

/*formulario contacto*/

.content{
    background:rgb(207,176,145) ;
    color:whitesmoke;
    padding: 50px 30px 70px 30px ;
    max-width: 1170px;
    margin-left: auto;
    margin-right:auto ;
    margin-top: 70px;
    
}
.content h2{
    text-align: center;
    font-size: 40px;
    color:rgb(253, 247, 247);
    margin-bottom: 40px;
    
    }
.contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(165, 92, 92, 0.6);
    display:grid;
    grid-template-columns: 2fr 1fr;
}
.contact-wrapper > * {
    padding: 1em;

}

.contact-form{
    background: rgb(185, 157, 141);
}
.contact-form form{
    display:grid;
    grid-template-columns:1fr 1fr ;
}

.contact-form form .block{
    grid-column: 1 / 3;
}
.contact-form form p{
    margin:7px;
    padding: 5px;

}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
width: 100%;
padding:5px;
border: none;
background: none;
border-bottom: 1px solid white;
outline: none;
color:white;

}
.contact-form form button{
    background: rgb(77, 76, 76);
    border:none;
    text-transform:uppercase ;
    padding:1px;
}
.contact-form form button:hover,
.contact-form form :focus{
    background: white;
    color:black;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-img{
    background: #3a3a3a;
       
}
.contact-img img{
    height: 250px;
    padding:50px 20px 10px 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
 
}
.contact-img h6{
    text-align: center;
    color:white;
}

/*footer*/
#pie-pagina{
    position: relative ;
    bottom: 0;
    background-color:rgb(109,116,86);
    width: 100%;
    padding: 5%;
    
}

#pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);/*que se repita 3 columnas y ocupe todo el ancho*/
    grid-gap: 50px;
    padding: 40px 0px;

}
#pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;/*alinea verticalmente*/

}
#pie-pagina .grupo-1 .box figure img{
    width: 100px;
    height: auto;
    margin-top: 190px;
    
}
#pie-pagina .grupo-1 .box h2{
    color:white;
    margin-bottom: 25px;
    font-size: 20px;
}
#pie-pagina .grupo-1 .box p{
    color:#efefef;
    margin-bottom: 10px;
}
#pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height:45px;
    color: #ffffff;
    margin-right: 10px;
    background-color: rgb(109,116,86);
    text-align: center;
    transition: all 300ms ease;
}
#pie-pagina .grupo-1 .red-social a:hover{
    color:aqua;
}
.pie-pagina .grupo-2{
    background-color: rgb(109,116,86);
    padding: 15px 10px;
    text-align: center;
    color:#ffffff;
}
#pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    #pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);/*que se repita 3 columnas y ocupe todo el ancho*/
        grid-gap: 30px;
        padding: 35px 0px;
    
    }
}