*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

nav{
    background-color: rgb(245, 230, 180);
    padding: 8px 0px 8px 0px;
    background-size:auto;
    position: static;
    

}

img{
    width: auto;
    height: 700px;
}
/*contenedor 2:home*/
@font-face{
    font-family: BrittanySignature;
    src: url(../img/BrittanySignature.ttf);
}   
#contenedor2 h5{
    font-family: BrittanySignature;
    font-size: 50px;
    color:rgb(0, 0, 0);
  
}
/*#home{
    background-color: black;
}*/

#home h1, h2{
    color: white;
    text-align: center;
    padding-right: 5%;
}

#home img{
    position: relative;
    height: 350px;
    width: auto;
    opacity: 0.8;
    padding: 0 0 0 26%;
}
/*whatsapp*/
.wsapp{
    position: fixed;
    bottom: 20px;
    right:20px;
    color: rgb(5, 129, 5);
    transition: transform 0.2s ease-in-out;/*para hacer un cambio de tamano suave*/
    }
    @media screen and (max-width: 800px) {
        .wsapp {
          font-size: 1.5rem;
          transform: scale(0.8);
        }
      }
      
      @media screen and (max-width: 480px) {
        .wsapp {
          font-size: 1.2rem;
          transform: scale(0.6);
        }
      }
/*footer*/

.pie-pagina{
    background-color:#0a141d;
    width: 100%;
    
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);/*que se repita 3 columnas y ocupe todo el ancho*/
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;/*alinea verticalmente*/

}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
    height: auto;
    margin-top: 190px;
    
}
.pie-pagina .grupo-1 .box h2{
    color:white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color:#efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height:45px;
    color: #ffffff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color:aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color:#ffffff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);/*que se repita 3 columnas y ocupe todo el ancho*/
        grid-gap: 30px;
        padding: 35px 0px;
    
    }
}