* {
    margin: 0;
    padding: 0;
}

:root {
color-scheme: dark light;
}

.container {
    max-width: 300px;
    margin: 0;
    justify-content: start;
}

.tipografia {
    color:#efefef;
    font-weight: 700;
    font-style: normal;
    
}


body header nav div a {
    margin-left: 50px;
    margin-right: 1px;
    color: aliceblue;
    text-decoration: none;
    
}

body header div a {
    transition: transform 0.3s ease-in-out;
    font-size: 17px;
   

}

body header div a img {
    padding: 3px 0 0 0;
    width: 64px;
    height: auto;
    margin: 0;
}

body header div a:hover {
    transform: scale(1.2);

}

.navBar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    position: fixed;
    width:100% ;/*agregado recien*/
    margin-bottom: 35px;
    background-color: rgb(109, 116, 86);
    ;
    /*Color inicial del nav*/
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.navBar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    transition: all 0.3s ease-in-out;
}

.logoLetra {
    color: whitesmoke;
    font-size: 17px;
    font-weight: bold;
}

.navBar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.navBar a {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    transition: all 0.3s ease-in-out;
}

.navBar.active {
    opacity: 0.9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navBar.active a {
    /*color: #000; /*Color de las letras al scrollear*/
}

.navBar.active p {
    /*color: #000;/*Color de las letras al scrollear*/
    font-size: 17px;
    font-weight: bold;

}

.navBar.active .container {
    padding: 5px 0;
    /*Tamaño de la barra al scrolear*/
}

.navBar a.current,
.navBar a:hover {
    color: rgb(93, 182, 15);
    font-weight: bold;
}

#cuenta-carrito{
    background-color:red;
    border-radius:100%;
    display:inline-block;
    width:20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
    
}

button{
    background-color:rgb(148, 125, 108);
    padding: 5px 10px; 
    border: unset;
    border-radius: 5px;
    cursor:pointer;
}

body {
    background-color: #212529;
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-size: auto;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;
}


.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 350px;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8 px rgba(0,0,0,0.5);
    margin: 30px;
/*     background-color: white; */
    transition: transform 0.3s ease; /* Añadido para animar la transformación */
}

.tarjeta:hover {
    transform: scale(1.1); /* Agranda la tarjeta al pasar el mouse */
}

.tarjeta p{
    margin: 5px;
    color:#ffffff;
}

.tarjeta img{
    margin: 5px;
    border-radius: 5px;
    height: 250px;
    width: 300px;
}


/*  Para el showdata */
body {
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
  }
  
  .content-center {
    text-align: center;
    margin: 0 auto;
    color:#ffffff
  }
  
  h1 {

    font-size: 1.5em;
    margin-top: 55px;
    margin-bottom: 10px;
  }

.table-responsive{
}

 .tabla-productos{
    border: 3px solid rgb(148, 125, 108);
    border-collapse: collapse;
    padding: 0px;
    width: 1200px;
 }
 
 .tabla-productos tbody{
    border: 3px solid rgb(148, 125, 108);
    padding: 20px;
    width: 600px;
 }

.tabla-productos {
    width: 100%; /* Ajusta el ancho según sea necesario */
    border: 3px solid rgb(148, 125, 108); /* Borde de la tabla */
    border-collapse: collapse; /* Colapso del borde */
}

.tabla-productos th,
.tabla-productos td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Alinea el texto en las celdas al centro */
}

.tabla-productos th {
    /*background-color: #f2f2f2; /* Color de fondo para las cabeceras */
}

.tabla-productos td img {
    display: block;
    margin: 0 auto; /* Centra las imágenes dentro de las celdas */
}

/* Estilos para los botones */
.btn {
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; /* Tamaño de fuente */
    background-color: rgb(109, 116, 86);
    margin-bottom: 10px; /* Espacio inferior entre botones */
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn:hover {
    background-color: rgb(93, 182, 15); /* Cambio de color al pasar el mouse */
}

.btn-primary {
    background-color: rgb(109, 116, 86); /* Color de fondo principal */
    border: none;
}

.btn-primary:hover {
    background-color: rgb(93, 182, 15); /* Cambio de color al pasar el mouse */
}

.btn-danger {
    background-color: #dc3545; /* Color de fondo para botón de eliminar */
    border: none;
}

.btn-danger:hover {
    background-color: #c82333; /* Cambio de color al pasar el mouse */
}
  
.alta-productos {
    width: 100%; /* Ajusta el ancho según sea necesario */
    border: 3px solid rgb(148, 125, 108); /* Borde de la tabla */
    border-collapse: collapse; /* Colapso del borde */
}

.alta-productos th,
.alta-productos td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Alinea el texto en las celdas al centro */
}

.alta-productos th {
    /*background-color: #f2f2f2; /* Color de fondo para las cabeceras */
}

.alta-productos td img {
    display: block;
    margin: 0 auto; /* Centra las imágenes dentro de las celdas */
}

/* Estilos para los botones */
.alta-productos .btn {
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; /* Tamaño de fuente */
    background-color: rgb(109, 116, 86);
    margin-bottom: 10px; /* Espacio inferior entre botones */
    transition: background-color 0.3s ease; /* Transición suave */
}

.alta-productos .btn:hover {
    background-color: rgb(93, 182, 15); /* Cambio de color al pasar el mouse */
}

.alta-productos .btn-primary {
    background-color: rgb(109, 116, 86); /* Color de fondo principal */
    border: none;
}

.alta-productos .btn-primary:hover {
    background-color: rgb(93, 182, 15); /* Cambio de color al pasar el mouse */
}

.alta-contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;
}

 .alta-productos{
    border: 3px solid rgb(148, 125, 108);
    border-collapse: collapse;
    padding: 0px;
    width: 600px;
 }
 
 .alta-productos tbody{
    border: 3px solid rgb(148, 125, 108);
    padding: 20px;
    width: 600px;
 }


.editar-productos {
    width: 100%; /* Ajusta el ancho según sea necesario */
    border: 3px solid rgb(148, 125, 108); /* Borde de la tabla */
    border-collapse: collapse; /* Colapso del borde */
}

.editar-productos th,
.editar-productos td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Alinea el texto en las celdas al centro */
}

.editar-productos th {
    /*background-color: #f2f2f2; /* Color de fondo para las cabeceras */
}

.editar-productos td img {
    display: block;
    margin: 0 auto; /* Centra las imágenes dentro de las celdas */
}

/* Estilos para los botones */
.editar-productos .btn {
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; /* Tamaño de fuente */
    background-color: rgb(109, 116, 86);
    margin-bottom: 10px; /* Espacio inferior entre botones */
    transition: background-color 0.3s ease; /* Transición suave */
}

.editar-productos .btn:hover {
    background-color: rgb(93, 182, 15); /* Cambio de color al pasar el mouse */
}

.editar-productos .btn-primary {
    background-color: rgb(109, 116, 86); /* Color de fondo principal */
    border: none;
}

.editar-productos .btn-primary:hover {
    background-color: rgb(93, 182, 15); /* Cambio de color al pasar el mouse */
}

.editar-productos .btn-danger {
    background-color: #dc3545; /* Color de fondo para botón de eliminar */
    border: none;
}

.editar-productos .btn-danger:hover {
    background-color: #c82333; /* Cambio de color al pasar el mouse */
}


  .info-table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .info-table th, .info-table td {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .info-table th {
/*     background-color: #f8f8f8; */
    font-weight: bold;
  }
  
  .info-table tr:nth-child(even) {
/*     background-color: #f2f2f2; */
  }


 .tabla-usuarios{
    border: 3px solid rgb(148, 125, 108);
    border-collapse: collapse;
    padding: 0px;
    width: 1200px;
 }
 
 .tabla-usuarios tbody{
    border: 3px solid rgb(148, 125, 108);
    padding: 20px;
    width: 600px;
 }

 .tabla-usuarios {
    width: 100%; /* Ajusta el ancho según sea necesario */
    border: 3px solid rgb(148, 125, 108); /* Borde de la tabla */
    border-collapse: collapse; /* Colapso del borde */
}

.tabla-usuarios th,
.tabla-usuarios td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Alinea el texto en las celdas al centro */
}

.tabla-usuarios th {
    /*background-color: #f2f2f2; /* Color de fondo para las cabeceras */
}


.alta-usuarios {
    width: 100%; /* Ajusta el ancho según sea necesario */
    border: 3px solid rgb(148, 125, 108); /* Borde de la tabla */
    border-collapse: collapse; /* Colapso del borde */
}

.alta-usuarios th,
.alta-usuarios td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Alinea el texto en las celdas al centro */
}

.alta-usuarios th {
    /*background-color: #f2f2f2; /* Color de fondo para las cabeceras */
}

.alta-usuarios td img {
    display: block;
    margin: 0 auto; /* Centra las imágenes dentro de las celdas */
}

/* Estilos para los botones */
.alta-usuarios .btn {
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px; /* Tamaño de fuente */
    background-color: rgb(109, 116, 86);
    margin-bottom: 10px; /* Espacio inferior entre botones */
    transition: background-color 0.3s ease; /* Transición suave */
}

.alta-usuarios .btn:hover {
    background-color: rgb(93, 182, 15); /* Cambio de color al pasar el mouse */
}

.alta-usuarios .btn-primary {
    background-color: rgb(109, 116, 86); /* Color de fondo principal */
    border: none;
}

.alta-usuarios .btn-primary:hover {
    background-color: rgb(93, 182, 15); /* Cambio de color al pasar el mouse */
}


.alta-contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;
}

.alta-usuarios{
    border: 3px solid rgb(148, 125, 108);
    border-collapse: collapse;
    padding: 0px;
    width: 600px;
 }
 
 .alta-usuarios tbody{
    border: 3px solid rgb(148, 125, 108);
    padding: 20px;
    width: 600px;
 }

 
/*footer*/
#pie-pagina {
    position: relative;
    bottom: 0;
    background-color: rgb(109, 116, 86);
    width: 100%;
    padding: 0%;
    margin-top: 50px;
}

#pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*que se repita 3 columnas y ocupe todo el ancho*/
    grid-gap: 50px;
    padding: 40px 0px;

}

#pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*alinea verticalmente*/

}

#pie-pagina .grupo-1 .box figure img {
    width: 200px;
    height: auto;
    margin-top: 145px;

}

#pie-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

#pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

#pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 10px;
    background-color: rgb(109, 116, 86);
    text-align: center;
    transition: all 300ms ease;
}

#pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(93, 182, 15);
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.pie-pagina .grupo-2 {
    background-color: rgb(109, 116, 86);
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}

#pie-pagina .grupo-2 small {
    color: whitesmoke;
    font-size: 15px;
    padding: 15px 10px;
    text-align: center;
}

@media screen and (max-width:800px) {
    #pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        /*que se repita 3 columnas y ocupe todo el ancho*/
        grid-gap: 30px;
        padding: 35px 0px;

    }

}
